body {
    background-image: url("https://images2.minutemediacdn.com/image/upload/c_crop,h_1192,w_2121,x_0,y_111/f_auto,q_auto,w_1100/v1624295423/shape/mentalfloss/642293-gettyimages-1135104933.jpg");
    background-size: 2000px;

}



.brand-logo {
    margin-left: 30px;
    
}